@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAll</h2>


<div class="row">
    <div class="col-md-12">
        <h5>Seleccione un Usuario para editarlo o + para agregar uno nuevo...</h5>
        <hr />
    </div>

</div>

@using (Html.BeginForm("GetAll","Usuario",FormMethod.Post,new{enctype = "multipart/form-data"}))
{      <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                    </div>
                </div>

                 <div class="col">
                     <div class="col-md-3">
                         <input type ="submit" value="Buscar" class="btn btn-success"/>
                     </div>
                       </div>
}
          
@*<div class="row">*@
<div style="float:right;">
    @Html.ActionLink("+", "Form", "Usuario", htmlAttributes:new {@class = "btn btn-success"})

</div>

<br>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td class="hidden">IdUsuario</td>
            <td>Nombre</td>
            <td>Email</td>
            <td>IdRol</td>
            <td>UserName</td>
            <td>Password</td>
            <td>Sexo</td>
            <td>Telefono</td>
            <td>Celular</td>
            <td>FechaNacimiento</td>
            <td>CURP</td>
            <td>Imagen</td>
            <td>Calle</td>
            <td>NumeroExterior</td>
            <td>NumeroInterior</td>
            <td>Colonia</td>
            <td>CodigoPostal</td>
            <td>Municipio</td>
            <td>Estado</td>
            <td>Pais</td>
            <td>Status</td>



            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Usuario usuario in Model.Usuarios)
            {
        <tr>
            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Usuario", new { IdUsuario = usuario.IdUsuario})"></a></td>
            <td class="hidden">@usuario.IdUsuario</td>
            <td>@usuario.Nombre @usuario.ApellidoPaterno @usuario.ApellidoMaterno</td>
            <td>@usuario.Email</td>
            <td>@usuario.Rol.Nombre</td>
            <td>@usuario.UserName</td>
            <td>@usuario.Password</td>
            <td>@usuario.Sexo</td>
            <td>@usuario.Telefono</td>
            <td>@usuario.Celular</td>
            <td>@usuario.FechaNacimiento</td>
            <td>@usuario.CURP</td>
             @if (usuario.Imagen == null || usuario.Imagen == "")
                 {
                    <td><img src="~/images/icon-user-default.png" style="width:auto ; height:100px" id="Img" /></td>
                 }
                 else
                 {

                    <td> <img id="Img" src="data:image/*;base64,@usuario.Imagen" style="width:auto ; height:100px" /></td>
                 }
            <td>@usuario.Direccion.Calle</td>
            <td>@usuario.Direccion.NumeroExterior </td>
            <td>@usuario.Direccion.NumeroInterior</td>
            <td>@usuario.Direccion.Colonia.Nombre</td>
            <td>@usuario.Direccion.Colonia.CodigoPostal</td>
            <td>@usuario.Direccion.Colonia.Municipio.Nombre</td>
            <td>@usuario.Direccion.Colonia.Municipio.Estado.Nombre</td>
            <td>@usuario.Direccion.Colonia.Municipio.Estado.Pais.Nombre</td>
             @if (usuario.Status)
                {
                    <td><a href="@Url.Action("UpdateStatus", "Usuario", new { IdUsuario = usuario.IdUsuario})"><img src="~/images/statusON.jpg" style="width:80px; height:40px" /></a></td> 

                }
                else
                {
                    <td><a href="@Url.Action("UpdateStatus", "Usuario", new { IdUsuario = usuario.IdUsuario})"><img src="~/images/statusOFF.jpg" style="width:80px; height:40px" /></a></td> 
                }
               

            <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Usuario", new { IdUsuario= usuario.IdUsuario})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
        </tr>
            }
    </tbody>
</table>