@model ML.Empleado
@{
    ViewBag.Title = "EmpleadoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmpleadoForm</h2>

<h2>Form</h2>
<div class=" ="row">
<div class="container">
    <div class="col-md-12">
        <h5>Ingrese los datos del empleado</h5>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("EmpleadoForm", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-md-4 col-lg-12 col-sm-6">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.NumeroEmpleado)
                        @Html.TextBoxFor(model => model.NumeroEmpleado, new { @class = "form-control", @id = "txtNumeroEmpleado" })
                        @Html.ValidationMessageFor(model => model.NumeroEmpleado)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.RFC)
                        @Html.TextBoxFor(model => model.RFC, new { @class = "form-control", @id = "txtRFC" })
                        @Html.ValidationMessageFor(model => model.RFC)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail" })
                        @Html.ValidationMessageFor(model => model.Email)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Telefono)
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @id = "txtTelefono" })
                        @Html.ValidationMessageFor(model => model.Telefono)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.FechaNacimiento)
                        @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @id = "txtFechaNacimiento" })
                        @Html.ValidationMessageFor(model => model.FechaNacimiento)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.NSS)
                        @Html.TextBoxFor(model => model.NSS, new { @class = "form-control", @id = "txtNSS" })
                        @Html.ValidationMessageFor(model => model.NSS)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.FechaIngreso)
                        @Html.TextBoxFor(model => model.FechaIngreso, new { @class = "form-control", @id = "txtFechaIngreso" })
                        @Html.ValidationMessageFor(model => model.FechaIngreso)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.FOTO)
                        @Html.TextBoxFor(model => model.FOTO, new { @class = "form-control", @id = "txtFOTO" })
                        @Html.ValidationMessageFor(model => model.FOTO)

                    </div>
                </div>

          <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Empresa.IdEmpresa)
                        @Html.DropDownListFor(model => model.Empresa.IdEmpresa, new SelectList(Model.Empresa.Empresas, "IdEmpresa", "Nombre"), "Selecciona la empresa", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Empresa.IdEmpresa)
                    </div>
                </div>

      <div class="col">

                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("RegresarEmpleado", "EmpleadoGetAll", "Empleado", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            }

        </div>

    </div>
</div>