@model ML.Empleado
@{
    ViewBag.Title = "EmpleadoGetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAll</h2>


<div class="row">
    <div class="col-md-12">
        <h5>Seleccione un Empleado para editarlo o + para agregar uno nuevo...</h5>
        <hr />
    </div>

</div>

@using (Html.BeginForm("EmpleadoGetAll","Empleado",FormMethod.Post,new{enctype = "multipart/form-data"}))
{      @*  <div class="col">
                    <div class="col-md-4 col-12 col-sm-6 ">

                    @Html.LabelFor(model => model.Empresa.IdEmpresa)
                    @if (Model.Empresa.Empresas == null)
                {
                  @Html.DropDownListFor(model => model.Empresa.IdEmpresa, new SelectList(String.Empty, "Value", "Text"), "Seleccionar una empresa", new { @class = "form-control"})
                  @Html.ValidationMessageFor(model => model.Empresa.IdEmpresa)
                }
                    else
                {
                    @Html.DropDownListFor(model => model.Empresa.IdEmpresa, new SelectList(Model.Empresa.Empresas, "IdEmpresa", "Nombre"), "Seleccionar la empresa", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Empresa.IdEmpresa)
                }
                 </div>

                </div>*@

                 <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                    </div>
                </div>

            @*     <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Empresa.IdEmpresa)
                         @Html.TextBoxFor(model => model.Empresa.IdEmpresa, new { @class = "form-control", @id = "txtEmpresa" })
                        @Html.ValidationMessageFor(model => model.Empresa.IdEmpresa)
                    </div>
                </div>*@

                 <div class="col">
                     <div class="col-md-3">
                         <input type ="submit" value="Buscar" class="btn btn-success"/>
                     </div>
                       </div>
}
          
@*<div class="row">*@
<div style="float:right;">
    @Html.ActionLink("+", "EmpleadoForm", "Empleado", htmlAttributes:new {@class = "btn btn-success"})

</div>

<br>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td>NumeroEmpleado</td>
            <td>RFC</td>
            <td>Nombre</td>
            <td>Email</td>
            <td>Telefono</td>
            <td>FechaNacimiento</td>
            <td>NSS</td>
            <td>FechaIngreso</td>
            <td>Foto</td>
            <td>IdEmpresa</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Empleado empleado in Model.Empleados)
            {
        <tr>
            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("EmpleadoForm", "Empleado", new { NumeroEmpleado = empleado.NumeroEmpleado})"></a></td>
            <td>@empleado.NumeroEmpleado</td>
            <td>@empleado.RFC</td>
            <td>@empleado.Nombre @empleado.ApellidoPaterno @empleado.ApellidoMaterno</td>
            <td>@empleado.Email</td>
            <td>@empleado.Telefono</td>
            <td>@empleado.FechaNacimiento</td>
            <td>@empleado.NSS</td>
            <td>@empleado.FechaIngreso</td>
            <td>@empleado.FOTO</td>
            <td>@empleado.Empresa.IdEmpresa</td>

               

            <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("EmpleadoDelete", "Empleado", new { Num= empleado.NumeroEmpleado})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
        </tr>
            }
    </tbody>
</table>