@model ML.Dependiente
@{
    ViewBag.Title = "DependienteForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DependienteForm</h2>

<h2>Form</h2>
<div class=" ="row">
<div class="container">
    <div class="col-md-12">
        <h5>Ingrese los datos del dependiente</h5>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("DependienteForm", "Dependiente", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="hidden" style="display: none;">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.IdDependiente)
                        @Html.TextBoxFor(model => model.IdDependiente, new { @class = "form-control", @id = "txtIdDependiente" })
                        @Html.ValidationMessageFor(model => model.IdDependiente)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)

                    </div>
                </div>

                  <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno)

                    </div>
                </div>

                  <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.FechaNacimiento)
                        @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @id = "txtFechaNacimiento" })
                        @Html.ValidationMessageFor(model => model.FechaNacimiento)

                    </div>
                </div>

                  <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Telefono)
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @id = "txtTelefono" })
                        @Html.ValidationMessageFor(model => model.Telefono)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail" })
                        @Html.ValidationMessageFor(model => model.Email)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.DireccionWeb)
                        @Html.TextBoxFor(model => model.DireccionWeb, new { @class = "form-control", @id = "txtDireccionWeb" })
                        @Html.ValidationMessageFor(model => model.DireccionWeb)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Logo)
                        @Html.TextBoxFor(model => model.Logo, new { @class = "form-control", @id = "txtLogo" })
                        @Html.ValidationMessageFor(model => model.Logo)

                    </div>
                </div>

      <div class="col">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("RegresarDependiente", "DependienteGet", "Dependiente", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            }

        </div>

    </div>
</div>