@model ML.Empleado
@{
    ViewBag.Title = "EmpleadoDGetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmpleadoDGetAll</h2>



@using (Html.BeginForm("EmpleadoDGetAll","Dependiente",FormMethod.Post,new{enctype = "multipart/form-data"}))
{      <div class="col">
                    <div class="col-md-4 col-lg-12 col-sm-6">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)

                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                    </div>
                </div>

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                    </div>
                </div>

               @*  <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Empresa.IdEmpresa)
                        @Html.DropDownListFor(model => model.Empresa.IdEmpresa, new SelectList(Model.Empresa.Empresas, "IdEmpresa", "Nombre"), "Selecciona la empresa", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Empresa.IdEmpresa)
                    </div>
                </div>*@

                 <div class="col">
                     <div class="col-md-3">
                         <input type ="submit" value="Buscar" class="btn btn-success"/>
                     </div>
                       </div>
}
          
@*<div class="row">*@

<br>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>AgregarDependiente</td>
            <td>NumeroEmpleado</td>
            <td>Nombre</td>
            <td>IdEmpresa</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Empleado empleado in Model.Empleados)
            {
        <tr>
            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("DependienteGet", "Dependiente", new { NumeroEmpleado = empleado.NumeroEmpleado})"></a></td>         
            <td>@empleado.NumeroEmpleado</td>
            <td>@empleado.Nombre @empleado.ApellidoPaterno @empleado.ApellidoMaterno</td>
            <td>@empleado.Empresa.IdEmpresa</td>
         </tr>

            }
    </tbody>
</table>